#kropp {
  width: 80%;
  height: 75%;
  background: rgb(2, 0, 36);
  background: linear-gradient(160deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 72%, rgba(0, 212, 255, 1) 100%);
   !important
}

body {
  width: 80%;
  height: 75%;
  margin: auto;
  padding: 0;
}

.title1 h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  font-size: 20px;
}

.navigation {
  background-color: #FFF;
  border: 1px solid blue;
  border-radius: 3px;
}